name: Development Build and Deploy

on: workflow_dispatch

jobs:
  connection-test:
    name: Testing VPS connection
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote command on vps
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEVELOPMENT_HOST }}
          username: ${{ secrets.DEVELOPMENT_USERNAME }}
          password: ${{ secrets.DEVELOPMENT_PASSWORD }}
          script: whoami

  website-build:
    name: Building website
    needs: connection-test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Fetch LFS assets
        run: git lfs checkout

      - name: Use Node.js 15.8.0
        uses: actions/setup-node@v2-beta
        with:
          node-version: '15.8.0'

      - name: Building website
        run: |
          yarn
          yarn build

      - name: Building website
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEVELOPMENT_HOST }}
          username: ${{ secrets.DEVELOPMENT_USERNAME }}
          password: ${{ secrets.DEVELOPMENT_PASSWORD }}
          script: whoami

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: public/

  website-deploy:
    name: Deplying website
    needs: website-build
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: build
          path: public/

      - name: Use Node.js 15.8.0
        uses: actions/setup-node@v2-beta
        with:
          node-version: '15.8.0'

      - name: Upload website files
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEVELOPMENT_PRIVATE_KEY }}
          SOURCE: 'public/'
          REMOTE_HOST: ${{ secrets.DEVELOPMENT_HOST }}
          REMOTE_USER: ${{ secrets.DEVELOPMENT_USERNAME }}
          TARGET: '/home/deployer/website/public_html'
          EXCLUDE: 'yarn.lock'

  api-deploy:
    name: Deplying API
    needs: connection-test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Upload backend files
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEVELOPMENT_PRIVATE_KEY }}
          SOURCE: 'src/api/'
          REMOTE_HOST: ${{ secrets.DEVELOPMENT_HOST }}
          REMOTE_USER: ${{ secrets.DEVELOPMENT_USERNAME }}
          TARGET: '/home/deployer/backend'
          EXCLUDE: 'yarn.lock'
